name: flutter_native_html_to_pdf
description: A pure Dart package to convert HTML string to PDF file. Works on all platforms without native code.
version: 2.0.0
homepage: https://github.com/Pisey-Nguon
repository: https://github.com/Pisey-Nguon/flutter_native_html_to_pdf

environment:
  sdk: '>=3.5.0 <4.0.0'

dependencies:
  pdf: ^3.11.3
  html: ^0.15.6
  http: ^1.6.0

dev_dependencies:
  test: ^1.24.0
  lints: ^6.0.0
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
